@model ApplicationCore.Models.MovieDetailsResponseModel


    <style>
          .special-row {
               height: 300px;
               margin:auto;
               background-size: cover; 
               background-position: center;
               position: relative;
          }
    </style>
    <div class=-moz-text-size-adjustainer">
         <div class="row special-row" style="background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('@Model.BackdropUrl') no-repeat">
              <div class="col-4" style="text-align:center">
                   <div class="card" style="width: 180px; margin:auto">
                        <img class="card-img-top" src="@Model.PosterUrl" style="height:248px" alt="">
                   </div>
              </div>
              <div class="col-6">
                   <h3 style="color:white">@Model.Title</h3> 
                   <p style="color:gray; font-size:10px">@Model.Tagline</p>
                   <p style="color:gray; font-size:12px">
                        @*<b> |  </b> &nbsp; &nbsp;*@
                        <span class="badge rounded-pill bg-secondary">Adventure</span>
                        <span class="badge rounded-pill bg-secondary">Action</span>
                        <span class="badge rounded-pill bg-secondary">Science Fiction</span>
                   </p>
                   <p>
                        <span class="badge bg-success">@Model.Rating</badge>
                   </p>
                   <p style="color:white; font-size:12px">
                        @Model.Overview
                   </p>
              </div>
              <div class="col-2" style="font-size:14px">
                   <p style="padding-top: 50px">
                        <a href="#" class="btn btn-outline-light " tabindex="-1" role="button" aria-disabled="true" style="width:125px"><i class="fas fa-edit"></i> REVIEW</a>
                   </p>
                   <p>
                        <a href="#" class="btn btn-light " tabindex="-1" role="button" aria-disabled="true" style="width:125px"><i class="fas fa-shopping-cart"></i> $@Model.Price</a>
                   </p>
              </div>
         </div>

         <div class="row">
              <div class="col-4">
                   <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-light">
                            <h5>MOVIE FACTS</h5>
                        </li>
                        <li class="list-group-item  ">
                           <i class="far fa-calendar-alt"></i> Release Date @Model.ReleaseDate
                        </li>
                        <li class="list-group-item  ">
                           <i class="fas fa-hourglass-half"></i>  Run Time @Model.RunTime m
                        </li>
                        <li class="list-group-item ">
                           <i class="far fa-money-bill-alt"></i> Box Office $@Model.Revenue
                        </li>
                        <li class="list-group-item  ">
                           <i class="fas fa-dollar-sign"></i>  Budget $@Model.Budget
                        </li>
                   </ul>
                   <br/>
                   <br/>
                   <ul class="list-group list-group-flush">
                       <li class="list-group-item bg-light"><h5>TRAILERS</h5></li>
                   @foreach(var trailer in Model.Trailers)
                   {
                    
                        <li class="list-group-item border-bottom-0 bg-light">
                             <button type="button" class="btn btn-link" style="text-decoration:none; text-align:left; color: gray">
                                  <i class="fab fa-youtube"></i>
                                  <a href = "@trailer.TrailerUrl" style = "color: black">@trailer.Name</a>
                             </button>
                        </li>
                    }
                    </ul>
              </div>
         
          
              <div class="col">
                   <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-light">
                            <h5>CAST</h5>
                        </li>
                        <li class="list-group-item">    
                             <ul class="list-group list-group-horizontal list-group-flush">
                                 @foreach(var cast in Model.Casts){
                                  <li class="list-group-item border-0" style="width: 20%">
                                       <img src = "@cast.PosterUrl" class="rounded-circle" style="width:40%; margin-right: 30px"/>
                                  </li>
                                  <li class="list-group-item border-0" style="width: 40%">@cast.Name</li>
                                  <li class="list-group-item border-0">@cast.Character</li>
                                 } 
                             </ul>
                        </li>                   
                   </ul>
              </div>
         </div>
    </div>

